.App {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.checkContainer {
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.range_container {
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main_container{
  height: 300px;
  width: 600px;
  background-color: rgb(45, 43, 43);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 10px 10px rgb(83, 80, 80);
}


.text_container .password_container{
  height: 30px;
  width: 300px;
  border-radius: 20px 0 0 20px;
  border: 1px solid;
  padding: 2px;
}
.text_container .button_container{
  height: 35px;
  width: 60px;
  border-radius: 0 20px 20px 0;
  border: 1px solid;
  padding: 2px;
  background-color: aqua;
}

@media screen and (max-width : 720px) {
  .main_container {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}